@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

@*<div class="container mt-5">
        <div class="row text-center mb-5">
            <div class="col">
                <h5 class="text-dark">Welcome to JIT</h5>
                <h1 class="text-info" style="font-size:7vh">Just in Time</h1>
            </div>
        </div>
    </div>*@


<!DOCTYPE html>

<html style="height:100%">
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>

    <style>
       .underline-text {
        text-decoration:none !important;
        }
        div#cardOne:hover {
        background-color:#543859 !important;
        }
        div#cardTwo:hover {
        background-color:#f7ac3b !important;
        }
        div#cardThree:hover {
        background-color:#ff5959 !important;
        }

    </style>

</head>
<body style="height:100%">

    <div class="container-fluid h-100" style="background: linear-gradient(-135deg, #c850c0, #4158d0)">
        <div class="container h-100">
            <div class="row align-items-center h-100 text-center">
                <div class="col mx-auto h-25">
                    <a asp-action="Hours" asp-controller="User" class="underline-text">
                        <div class="card card-body h-100" id="cardOne" style="background-color:#512b58">
                            <span class="my-auto text-white display-4">Add hours</span>
                        </div>
                    </a>
                </div>
                <div class="col mx-auto h-25">
                    <a asp-action="List" asp-controller="User" class="underline-text">
                        <div class="card card-body h-100" id="cardTwo" style="background-color:#ffa41b">
                            <span class="my-auto text-white display-4">List hours</span>
                        </div>
                    </a>
                </div>
                <div class="col mx-auto h-25">
                    <a asp-action="Logout" asp-controller="User" class="underline-text">
                        <div class="card card-body h-100" id="cardThree" style="background-color:#ff5151">
                            <span class="my-auto text-white display-4">Logout</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>