@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="row text-center mb-5">
        <div class="col">
            <h5 class="text-dark">Dobrodosli u GIT</h5>
            <h1 class="text-info" style="font-size:7vh">Just in Time</h1>
        </div>
    </div>
    @*<div class="row text-center">
        <div class="col-6">
            <a class="btn btn-success" asp-action="New" asp-controller="User" role="button">Save my hours</a>
        </div>
        <div class="col-6">
            <a class="btn btn-info" asp-action="Index" asp-controller="User" role="button">See all users</a>
        </div>
    </div>*@
</div>
