@model JIT.MVC.Models.UserViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html style="height:100%">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Authenticate</title>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
</head>
<body style="height:100%">

    <div class="container-fluid h-100 d-flex justify-content-center align-items-center" style="background: linear-gradient(-135deg, #c850c0, #4158d0);">
        <div class="row bg-white h-50 w-50 rounded">
            <div class="col-6 d-flex align-items-center">
                <img src="~/images/mail.jpg" style="max-width:80%" />
            </div>
            <div class="col-6">
                <div class="row d-flex align-items-center h-100">
                    <div class="row">
                        <h4 class="text-info">Please check your email and complete your registration process.</h4>
                        <a class="btn btn-warning text-white mx-auto mt-2" onclick="sendEmail()">Send again</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">

        function sendEmail()
        {
            $.ajax({
                url: '@Url.Action("AuthenticateUser","Authentication")',
                type: "Post",
                data:@Model.Id,
                success: function (data) {
                   console.log(data)
                }
            });
        }
      

    </script>
</body>
</html>


