@model JIT.MVC.Models.ProjectViewModel

@{
    ViewData["Title"] = "Hours";
}

<input hidden asp-for="@ViewData["UserId"]" class="form-control" />

<h1>Please add your working hours</h1>

<h6>Fill the form</h6>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveHours">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProjectName" class="control-label"></label>
                <input asp-for="ProjectName" class="form-control" />
                <span asp-validation-for="ProjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkingDate" class="control-label"></label>
                <input asp-for="WorkingDate" class="form-control" />
                <span asp-validation-for="WorkingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkingHours" class="control-label"></label>
                <input asp-for="WorkingHours" class="form-control" />
                <span asp-validation-for="WorkingHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" onclick="ValidateInput()" value="Create" class="btn btn-primary" />
            </div>
            <input hidden asp-for="UserId" value="@ViewData["UserId"]" class="form-control" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        function ValidateInput() {
            var projectName = document.getElementById("ProjectName").value;
            var workingDate = document.getElementById("WorkingDate").value;
            var workingHours = document.getElementById("WorkingHours").value;

            if (projectName != "" && workingDate != "" && workingHours != "" ) {
                swal({
                    title: "Good job!",
                    text: "You have added your hours",
                    icon: "success",
                    button: "Close",
                })
                return true;
            }
            else
            {
                swal({
                    title: "Error",
                    text: "All fields are mandatory",
                    icon: "error",
                    button: "Close",
                })
                return false;
            }
        }
    </script>

}
